* {
    font-family: 'Permanent Marker', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header {
    display: flex;
    
}

header div#welcome{
    font-size: xx-large;
}

.container {
    background-color: white;
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 200px;
}

div.player {
    min-height: 200px;
    min-width: 200px;
    font-size: xx-large;
    text-align: center;
    margin: 20px;
    border-radius: 22px;
    border-style: solid;
    border-width: 5px;
}

div.player:hover {
    box-shadow: 10px 5px 5px darkslategray;
}