body {
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container {
    background-color: white;
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 200px;
}

div.player {
    background-color:beige;
    margin: 20px;
    padding-top: 80px;
    border-radius: 16px;
}

div {
    flex: 1;
    border-style: solid;
    border-color: red;
    min-width: 100px;
    min-height: 100px;
}