body {
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container {
    background-color: white;
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 200px;
}

div.player {
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    color: darkcyan;
    background-color:beige;
    text-align: center;
    margin: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
    border-radius: 16px;
}

div.player:hover {
    box-shadow: 10px 5px 5px darkslategray;
}

div#results {
    font-family: 'Permanent Marker', cursive;
}

div {
    flex: 1;
    border-style: solid;
    border-color: red;
    min-width: 100px;
    min-height: 100px;
}